@model Solution.Web.Models.AnnonceVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}



@using (Html.BeginForm("Create", "Annonce", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <label>Titre</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Titre, "", new { @class = "form-control" })
            </div>
        </div>


        <label>Localisation</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Localisation, "", new { @class = "form-control" })
            </div>
        </div>




        <label>LoyerMensuel</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.LoyerMensuel, "", new { @class = "form-control" })
            </div>
        </div>


        <label> Description</label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "5", cols = "3", placeholder = "You can Describe...", })
            </div>
        </div>


        @*<label>Image</label> <div style="margin-left:24.5%" class="form-input-styled">

            @Html.TextBox("ImageBi", new { @class = "form-input-styled" }, new
        {
        type = "file",

        })
            @Html.ValidationMessageFor(model => model.ImageBi, "", new { @class = "form-input-styled" })

        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.ImageBi, htmlAttributes: new { @class = "control-label form-control-sm" })
            @Html.TextBox("file", "", new { type = "file" })
            @Html.ValidationMessageFor(model => model.ImageBi, "", new { @class = "text-danger" })
        </div>

        <label>NombreDeChambre </label>
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NombreDeChambre, "", new { @class = "form-control" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.jardin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.jardin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.jardin, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <label>Jardin </label>
        <div class="form-group">
            @Html.DropDownListFor(model => model.jardin, new List<SelectListItem>
                           {
                               new SelectListItem() {Text = "OUI", Value = "TRUE"},
                               new SelectListItem() {Text = "NON", Value = "FALSE"}

                       }, new { @class = "form-control" })
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


