@model IEnumerable<Solution.Web.Models.AbonnementViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Client.cshtml";
}


<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Ceci est la liste de tous les abonnements</h2></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new" disabled="disabled"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr class="text-md-center">
                    <th>Motif de Paiement</th>
                    <th>Etat</th>
                    <th>Date d'abonnement</th>
                    <th>Date d'expiration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageAbonnementM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StateM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateDebutAbonnementM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateFinAbonnementM)
                        </td>

                        <td>
                            @if(ViewBag.userID == "b9902d68-ca66-4454-8a17-a53d0a4c8b58"){
                            <div>
                                @Html.ActionLink("Confirmer", "ConfirmAbonnement", new { id = item.IdAbonnementM }) |
                            </div>
                            }
                            @Html.ActionLink("Details", "Details", new { id = item.IdAbonnementM }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdAbonnementM })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
