@model IEnumerable<Solution.Web.Models.AbonnementViewModel>

@{
    ViewBag.Title = "mesAbonnements";
}

<h2>mesAbonnements</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageAbonnementM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDebutAbonnementM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFinAbonnementM)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageAbonnementM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebutAbonnementM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFinAbonnementM)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAbonnementM }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAbonnementM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAbonnementM })
        </td>
    </tr>
}

</table>
