@model Solution.Web.Models.ContratModel

@{
    ViewBag.Title = "MyContrat";
    Layout = "~/Views/Shared/Client.cshtml";
}

<h2>MyContrat</h2>

<div>
    <h4>ContratModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientIDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientIDM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnonceIdM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnonceIdM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateContratM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateContratM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFinContratM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFinContratM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixContratM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixContratM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
