@model Solution.Domain.Entities.Meuble

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Owner.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Meuble", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.IdMeuble)
    <label>Titre</label>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Titre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titre, "", new { @class = "text-danger" })
        </div>
    </div>
    <label>Adresse</label>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label form-control-sm" })
        @Html.TextBox("file", "", new { type = "file" })
        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
    </div>


    <label> Prix</label>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.PrixM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrixM, "", new { @class = "text-danger" })
        </div>
    </div>
    <label>Description</label>
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
